.services {
  min-height: 100vh;
  overflow: hidden;
  padding: 100px 0px;
  box-sizing: border-box;
}

.container-cards {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  justify-content: space-around;
}

.container-service {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.left-content,
.right-content {
  width: 40%;
  position: relative;
}

.left-content img,
.right-content img {
  width: 100%;
  position: absolute;
}

.left-content img {
  left: 0;
  top: 20px;
}

.right-content img {
  right: 0;
  top: 20px;
}

.container-service .title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

.container-service:not(:first-child) {
  margin-top: 100px;
}

/*------*/

@media screen and (max-width: 560px) {
  .m-full-content {
    width: 100%;
    position: relative;
    text-align: justify;
  }

  .container-service {
    width: 90%;
    display: block;
    position: relative;
  }

  .container-service .title {
    font-size: 40px;
  }

  .container-service:first-child .right-content {
    position: absolute;
    right: -100px;
    top: 0;
    width: 150%;
    position: absolute;
    z-index: -10;
    opacity: 0.1;
  }

  .container-service:last-child .left-content {
    position: absolute;
    left: -100px;
    top: 0;
    width: 150%;
    position: absolute;
    z-index: -10;
    opacity: 0.1;
  }
}
