body {
  margin: 0 auto;
  padding: 0;
  border: 0;
  text-decoration: none;
  overflow: auto;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c3c3c3;
}

:root{
  --font-size-tittle:40px;
  --font-size-subtittle:18px;
  --font-size-content:16px;
  --color-white:#f2f6f5;
  --color-gray:#373737;
  --color-gray2:#4d4d4d;
  --space-s: 5px;
  --space-xs: 2px;
  --space-m: 10px;
  --space-l: 15px;
  --space-xl: 25px;
}


.container-full{
  width: 100%;
  min-height: 100vh;
}

.tittle{
  text-align: center;
  font-size: var(--font-size-tittle);
}

.bg-stars{
  background: linear-gradient(180deg, rgba(0,1,2,1) 0%, rgba(39,64,73,1) 49%, rgba(68,92,101,1) 100%);

}

/*===================================Utils=========================================*/
.position-relative{
  position: relative;
}

.position-absolute{
  position: relative;
}

.color-white{
  color:var(--color-white);
}

.color-gray{
  color:var(--color-gray);
}

.font-bold{
  font-weight: bold;
}